﻿{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
    <div class="col-md-6">
        <h1>登陆</h1>
        <hr>
         <form method="POST" action="/login">
            {{ wtf.quick_form(form) }}
        </form>
    </div>
    <div class="col-md-6">
    </div>
{% endblock %}